{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "importOrder": [
    "^@/types/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/ui/(.*)$",
    "^@/components/blocks/(.*)$",
    "^@/components/fragments/(.*)$",
    "^@/lib/(.*)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "insertPragma": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindFunctions": ["clsx", "cva", "cn"],
  "trailingComma": "all",
  "useTabs": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
